<!DOCTYPE HTML>
<!--
	Striped 2.5 by HTML5 Up!
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>UVM :: Administrator</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<script src="{{ asset('/web/bundles/admin/js/jquery.min.js') }}"></script>
		<script src="{{ asset('/web/bundles/admin/js/skel.min.js') }}"></script>
		<script src="{{ asset('/web/bundles/admin/js/skel-panels.min.js') }}"></script>
		<script src="{{ asset('/web/bundles/admin/js/init.js') }}"></script>
		<noscript>
			<link rel="stylesheet" href="{{ asset('/web/bundles/admin/css/skel-noscript.css') }}" />
			<link rel="stylesheet" href="{{ asset('/web/bundles/admin/css/style.css') }}" />
			<link rel="stylesheet" href="{{ asset('/web/bundles/admin/css/style-desktop.css') }}" />
			<link rel="stylesheet" href="{{ asset('/web/bundles/admin/css/style-wide.css') }}" />
			<link rel="stylesheet" href="{{ asset('/web/bundles/admin/css/style-grid.css') }}" />
		</noscript>
		<!--[if lte IE 9]><link rel="stylesheet" href="{{ asset('/web/bundles/admin/css/ie9.css') }}" /><![endif]-->
		<!--[if lte IE 8]><script src="{{ asset('/web/bundles/admin/js/html5shiv.js') }}"></script><link rel="stylesheet" href="{{ asset('/web/bundles/admin/css/ie8.css') }}" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="{{ asset('/web/bundles/admin/css/ie7.css') }}" /><![endif]-->
	</head>
	<!--
		Note: Set the body element's class to "left-sidebar" to position the sidebar on the left.
		Set it to "right-sidebar" to, you guessed it, position it on the right.
	-->
	<body class="left-sidebar">
{% if session_id == session %}
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Content -->
					<div id="content">
						<div id="content-inner">
					
							<!-- Post -->
								<article class="is-post is-post-excerpt">
									{% block content %}{% endblock %}
								</article>

							<!-- Pager -->
							<!--
								<div class="pager">
									<a href="#" class="button previous">Previous Page</a>
									<div class="pages">
										<a href="#" class="active">1</a>
										<a href="#">2</a>
										<a href="#">3</a>
										<a href="#">4</a>
										<span>&hellip;</span>
										<a href="#">20</a>
									</div>
									<a href="#" class="button next">Next Page</a>
								</div>
							-->
						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
					
						<!-- Logo -->
							<div id="logo">
							{% if campus == 'all' %}
								<h1>UVM</h1>
							{% else %}
								<h1>UVM<br />{{campus}}</h1>
							{% endif %}
							</div>
					
						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li class="current_page_item"><a href="{{ path('admin_usuarios_crear', {session: session_id}) }}">Crear usuario</a></li>
								</ul>
							</nav>
							<nav id="nav">
								<ul>
									<li class="current_page_item">Reportes</li>
									<li><a href="{{ path('admin_usuarios_listar_unreg', {session: session_id, q: 0, offset: 1}) }}">Usuarios Pendientes</a></li>
									<li><a href="{{ path('admin_usuarios_listar_reg', {session: session_id, q: 0, offset: 1}) }}">Usuarios Registrados</a></li>
									<li><a href="{{ path('admin_reportes_activos', {session: session_id}) }}">Usuarios Activos</a></li>
									<li><a href="{{ path('admin_reportes_historial', {session: session_id}) }}">Historial</a></li>
								</ul>
							</nav>
							<nav id="nav">
								<ul>
									<li class="current_page_item"><a href="{{ path('admin') }}">Salir</a></li>
								</ul>
							</nav>

						<!-- Copyright -->
							<div id="copyright">
								<p>
									&copy; 2014
								</p>
							</div>

					</div>

			</div>
{% endif %}
	</body>
</html>