<!DOCTYPE HTML>
{% if app.session.get('session_id') %}
<html>
	<head>
		<title>UVM :: Administrator :: {{ app.session.get('admin_nombre') }}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<script src="{{ asset('/web/bundles/admin/js/jquery.min.js') }}"></script>
		<script src="{{ asset('/web/bundles/admin/js/skel.min.js') }}"></script>
		<script src="{{ asset('/web/bundles/admin/js/skel-panels.min.js') }}"></script>
		<script src="{{ asset('/web/bundles/admin/js/init.js') }}"></script>
		<script src="{{ asset('/web/bundles/admin/js/jquery-ui.min.js') }}"></script>
		<noscript>
			<link rel="stylesheet" href="{{ asset('/web/bundles/admin/css/skel-noscript.css') }}" />
			<link rel="stylesheet" href="{{ asset('/web/bundles/admin/css/style.css') }}" />
			<link rel="stylesheet" href="{{ asset('/web/bundles/admin/css/style-desktop.css') }}" />
			<link rel="stylesheet" href="{{ asset('/web/bundles/admin/css/style-wide.css') }}" />
			<link rel="stylesheet" href="{{ asset('/web/bundles/admin/css/style-grid.css') }}" />
		</noscript>
		<!--[if lte IE 9]><link rel="stylesheet" href="{{ asset('/web/bundles/admin/css/ie9.css') }}" /><![endif]-->
		<!--[if lte IE 8]><script src="{{ asset('/web/bundles/admin/js/html5shiv.js') }}"></script><link rel="stylesheet" href="{{ asset('/web/bundles/admin/css/ie8.css') }}" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="{{ asset('/web/bundles/admin/css/ie7.css') }}" /><![endif]-->
	</head>
	<!--
		Note: Set the body element's class to "left-sidebar" to position the sidebar on the left.
		Set it to "right-sidebar" to, you guessed it, position it on the right.
	-->
	<body class="left-sidebar">
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Content -->
					<div id="content">
						<div id="content-inner">
							<!-- Post -->
								<article class="is-post is-post-excerpt">
									{% block content %}{% endblock %}
								</article>
						</div>
					</div>
				<!-- Sidebar -->
					<div id="sidebar">
						<!-- Logo -->
							<div id="logo">
							{% if app.session.get('admin_nom') == 'UVM' %}
								<h1><a href="{{ path('admin_home', {session: app.session.get('session_id')}) }}">UVM</a></h1>
							{% else %}
								<h1><a href="{{ path('admin_home', {session: app.session.get('session_id')}) }}">UVM<br />{{ app.session.get('admin_nombre') }}</a></h1>
							{% endif %}
							</div>
						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li class="current_page_item">Usuarios</li>
									<li><a href="{{ path('admin_usuarios_crear', {session: app.session.get('session_id')}) }}">Crear Usuario</a></li>
								</ul>
							</nav>
							<nav id="nav">
								<ul>
									<li class="current_page_item">Reportes</li>
								{% if app.session.get('admin_nom') == 'UVM' %}
									<li><a href="{{ path('admin_reportes', {session: app.session.get('session_id'), type: 'admin_reportes_mantenimiento'}) }}">Mantenimiento de Usuarios</a></li>
									<li><a href="{{ path('admin_reportes', {session: app.session.get('session_id'), type: 'admin_reportes_listar_unreg'}) }}">Usuarios Pendientes</a></li>
									<li><a href="{{ path('admin_reportes', {session: app.session.get('session_id'), type: 'admin_reportes_listar_reg'}) }}">Usuarios Registrados</a></li>
									<li><a href="{{ path('admin_reportes', {session: app.session.get('session_id'), type: 'admin_reportes_activos'}) }}">Usuarios Activos</a></li>
									<li><a href="{{ path('admin_reportes', {session: app.session.get('session_id'), type: 'admin_reportes_historial'}) }}">Historial de Usuarios</a></li>
								{% else %}
									<li><a href="{{ path('admin_reportes_listar_unreg', {session: app.session.get('session_id'), campus: app.session.get('admin_nom')}) }}">Usuarios Pendientes</a></li>
									<li><a href="{{ path('admin_reportes_listar_reg', {session: app.session.get('session_id'), campus: app.session.get('admin_nom')}) }}">Usuarios Registrados</a></li>
									<li><a href="{{ path('admin_reportes_activos', {session: app.session.get('session_id'), campus: app.session.get('admin_nom'), i: '2014-05-19', f: '2014-06-19'}) }}">Usuarios Activos</a></li>
									<li><a href="{{ path('admin_reportes_historial', {session: app.session.get('session_id'), campus: app.session.get('admin_nom'), i: '2014-05-19', f: '2014-06-19'}) }}">Historial</a></li>
								{% endif %}
								</ul>
							</nav>
							<nav id="nav">
								<ul>
									<li class="current_page_item"><a href="{{ path('admin_logout') }}">Salir</a></li>
								</ul>
							</nav>
						<!-- Copyright -->
							<div id="copyright">
								<p>
									&copy; 2014
								</p>
							</div>
					</div>
			</div>
	</body>
</html>
{% else %}
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>UVM ::: LogIn</title>
		<link rel="stylesheet" href="{{ asset('/web/bundles/admin/login/css/style.css') }}">
	</head>
	<body>
		<div style="text-align:center; margin:50px;"><img src="{{ asset('/web/bundles/admin/login/img/logo.jpg') }}" height="75px"></div>
		<form method="POST" action="{{ path('admin_login') }}" class="login">
			<p>
				<label for="login">Usuario:</label>
				<input type="text" name="user" id="login" required="required" value="">
			</p>
			<p>
				<label for="password">Password:</label>
				<input type="password" name="pass" id="password" required="required" value="">
			</p>
			<p class="login-submit">
				<button type="submit" class="login-button">Login</button>
			</p>
		</form>
		<section class="about">
			<p class="about-author">
				&copy; 2014 UVM Micro-sitio
			</p>
		</section>
	</body>
</html>
{% endif %}