{% extends 'CoreAdminBundle:admin:layout.html.twig' %}
{% block content %}

        <div id="title">
            <h1>Usuarios :: Eliminar</h1>
        </div>

        <div>
            <table>
                <tr align="center">
                    <th colspan="5">
                        {% if msg %}
                        <div id="msg">{{ msg }}</div>
                        {% endif %}
                    </th>
                </tr>
                <tr align="center">
                    <th colspan="5">&nbsp;</th>
                </tr>
                <tr align="center"><tr align="center">
                    <th width="35%"></th>
                    <th width="10%" valign="middle"> <form name="ususrios" action="{{ path('admin_usuarios_eliminar', {session: session_id, id: usuario.id}) }}" method="POST"><input type="image" src="{{ asset('bundles/core/img/users/aprove.png') }}" value="Submit" alt="Submit"><input type="hidden" name="confirm" value="1"><br>Aceptar</form> </th>
                    <th width="10%"></th>
                    <th width="10%" valign="middle"> <form name="ususrios" action="{{ path('admin_reportes_listar_reg', {session: session_id}) }}" method="POST"><input type="image" src="{{ asset('bundles/core/img/users/del.png') }}" value="Submit" alt="Submit"><br>Cancelar</form> </th>
                    <th width="35%"></th>
                </tr>
            </table>
        </div>
{% endblock %}