{% extends 'CoreAdminBundle:login:layout_new.html.twig' %}
{% block content %}

<div id="contentbg" class="inv-box" style="">
<!-- Title -->
        <hr><hr>
        <div id="phone-call"><span class="tblue">
            <center><img src="/web/bundles/login/img/BannerT.jpg"></center>
        </div>
        <hr>
<!-- End Title -->
<!-- Content -->
<!-- Start Form -->
    <div id="cform" class="card move-form" style="">
    <p class="mpf widget-text"><h2>Ingreso:</h2></p>
	<div id="register">
	    <p style="text-align:justify;">Para tener acceso a la red WiFi de UVM es necesario realizar el proceso de <b>REGISTRO</b>:</p>
        <button type="button" id="entrar" name="entrar" id="sub-a" class="button blue sub-btn" onclick="window.location.href='{{ path('portal_register') }}'">Registro</button>
	</div>
        {% if msg %}
            <center><p class="mpf widget-text" style="background-color:brown;color:white">{{ msg }}</p></center>
        {% endif %}
        <form id="inquiry" class="input-glow" method=POST action="{{ path('portal') }}">
            <br />
            <ul class="mpf">
                <label for="conName">Usuario:</label><input type="text" id="conName" name="username" value="{{ user }}" required/>
            </ul>
            <ul class="mpf">
                <label for="conPass">Contraseña:</label><input type="password" id="conEmail" name="password" value="{{ pass }}" required/>
            </ul>
            <ul class="mpf">
                <input type="checkbox" id="conCheck" name="chk_rec" value="chk_rec" {{ chk }} ><input type="hidden" name="params" value="{{ params }}"><label for="conCheck">Recordar usuario y contrase&ntilde;a</label>
            </ul>
            <ul class="mpf">
                <label>&nbsp;</label><input type="submit" id="entrar" name="entrar" id="sub-a" class="button blue sub-btn" value="Ingresar">
                <label style="text-align:right;"><a href="{{ path('portal_reset_pass') }}{{ params }}">¿Olvidaste tu contraseña?</a></label>
            </ul>
        </form>
        <p>&nbsp;</p>
        <p class="bottom-text">Si tienes problemas para ingresar o para navegar por favor acude al Centro de Cómputo de tu campus.</p>
    </div>
<!-- End Form -->
<!-- Start Right Column -->
    <div id="rightClip" class="mobile-remove">
        <!-- Start Widgets -->
        <div id="widgets" style="left:40px">
            <div class="" style="display: block;">
                <img src="/web/bundles/login/img/increasing-value.png" style="">
                <p class="mpf widget-text" style=""><h1>&nbsp;&nbsp;Bienvenido a la red de UVM.</h1></p>
            </div>
            <div class="" style="display: block;">
                <p class="mpf widget-text" style=""><h2>Para tener acceso a la red WiFi de UVM es necesario realizar el proceso de <b>REGISTRO</b>:</h2></p>
            </div>
            <div class="" style="display: block;">
    		  <button type="button" id="entrar" name="entrar" id="sub-a" class="button blue sub-btn" onclick="window.location.href='{{ path('portal_register') }}{{ params }}'">Registro</button>
            </div>
        </div>
<!-- End Widgets -->
    </div>
<!-- End Right Column -->
<!-- End Content -->   
<!--        
    <div id="footer" class="" style="">
        <hr><hr>
        <div id="phone-call"><span class="tblue">
            <img src="/web/bundles/login/img/BannerT.jpg">
        </div>
        <hr>
-->
{% endblock %}
